Repository statisticsnorway/ssb-datadoc-model, pull requests merged in 2023-12, with the labels that each got.

#27 Add data_element_pattern field
  generated/java/datadoc-model/target/generated-sources/jsonschema2pojo/no/ssb/dapla/metadata/PseudoVariable.java
  generated/python/datadoc_model/datadoc_model/model.py
  src/pseudonymization/pseudonymization-json-schema.json
Labels: json-schema, python, java

#30 Fix Java package build
  .github/workflows/generate-java.yml
  generated/java/datadoc-model/pom.xml
  generated/java/datadoc-model/src/main/java/no/ssb/dapla/metadata/EncryptionAlgorithmParameter.java
  generated/java/datadoc-model/src/main/java/no/ssb/dapla/metadata/MetadataContainer.java
  generated/java/datadoc-model/src/main/java/no/ssb/dapla/metadata/PseudoDataset.java
  generated/java/datadoc-model/src/main/java/no/ssb/dapla/metadata/PseudoVariable.java
  generated/java/datadoc-model/src/main/java/no/ssb/dapla/metadata/PseudonymizationMetadata.java
  generated/java/datadoc-model/src/main/java/no/ssb/dapla/metadata/datadoc/DatadocMetadata.java
  generated/java/datadoc-model/src/main/java/no/ssb/dapla/metadata/datadoc/Dataset.java
  generated/java/datadoc-model/src/main/java/no/ssb/dapla/metadata/datadoc/LanguageStringType.java
  generated/java/datadoc-model/src/main/java/no/ssb/dapla/metadata/datadoc/Variable.java
  generated/python/datadoc_model/datadoc_model/model.py
Labels: bug, ci, python, java

#31 Add inner class builders
  generated/java/datadoc-model/pom.xml
  generated/java/datadoc-model/src/main/java/no/ssb/dapla/metadata/EncryptionAlgorithmParameter.java
  generated/java/datadoc-model/src/main/java/no/ssb/dapla/metadata/MetadataContainer.java
  generated/java/datadoc-model/src/main/java/no/ssb/dapla/metadata/PseudoDataset.java
  generated/java/datadoc-model/src/main/java/no/ssb/dapla/metadata/PseudoVariable.java
  generated/java/datadoc-model/src/main/java/no/ssb/dapla/metadata/PseudonymizationMetadata.java
  generated/java/datadoc-model/src/main/java/no/ssb/dapla/metadata/datadoc/DatadocMetadata.java
  generated/java/datadoc-model/src/main/java/no/ssb/dapla/metadata/datadoc/Dataset.java
  generated/java/datadoc-model/src/main/java/no/ssb/dapla/metadata/datadoc/LanguageStringType.java
  generated/java/datadoc-model/src/main/java/no/ssb/dapla/metadata/datadoc/Variable.java
Labels: java
