Repository statisticsnorway/ssb-datadoc-model, pull requests merged in 2024-04, with the labels that each got.

#50 Change type for datasource
  generated/java/datadoc-model/src/main/java/no/ssb/dapla/metadata/datadoc/Dataset.java
  generated/java/datadoc-model/src/main/java/no/ssb/dapla/metadata/datadoc/Variable.java
  generated/python/datadoc_model/datadoc_model/model.py
  generated/python/datadoc_model/pyproject.toml
  src/datadoc/datadoc-json-schema.json
Labels: enhancement, json-schema, python, java

#51 Specify date format for all contains_data_* fields
  generated/java/datadoc-model/src/main/java/no/ssb/dapla/metadata/datadoc/Variable.java
  generated/python/datadoc_model/datadoc_model/model.py
  generated/python/datadoc_model/pyproject.toml
  src/datadoc/datadoc-json-schema.json
Labels: json-schema, python, java

#52 Added yaml file for documentation in backstage
  backstage.yaml
Labels: enhancement
