Repository statisticsnorway/ssb-datadoc-model, pull requests merged in 2025-09, with the labels that each got.

#70 Bump document version
  generated/python/datadoc_model/datadoc_model/all_optional/model.py
  generated/python/datadoc_model/datadoc_model/required/model.py
  src/datadoc/datadoc-json-schema.json
Labels: json-schema, python

#72 Update use restriction
  generated/java/datadoc-model/src/main/java/no/ssb/dapla/metadata/datadoc/Dataset.java
  generated/java/datadoc-model/src/main/java/no/ssb/dapla/metadata/datadoc/UseRestriction.java
  generated/python/datadoc_model/datadoc_model/all_optional/model.py
  generated/python/datadoc_model/datadoc_model/required/model.py
  src/datadoc/datadoc-json-schema.json
Labels: enhancement, json-schema, python, java

#73 Release Python v8.0.0
  generated/python/datadoc_model/pyproject.toml
Labels: python
